<!DOCTYPE html>
<html>
<head>
  <title>S.O.S - Volunteer Disaster Company</title>
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'myapp/styles/main.css' %}">
</head>
<body>

  <!-- Navigation Bar -->
  {% include 'navbar.html' %}

  <!-- Main Page Content -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="animated-text">S.O.S</h1>
        {% if user.is_staff %}
                    <h2>Admin Portal for Donation & Procurement Departments</h2>
                    <p>Management for Donation & Procurement Modules and Reporting Portal</p>
                {% else %}
                    <h2>Volunteer Disaster Company</h2>
      <p>Welcome to S.O.S, a voluntary disaster company dedicated to providing assistance during times of crisis. Together, we can make a difference and help those in need. Join us in our mission to bring hope and support to affected communities.</p>

                {% endif %}
    {% if user.is_staff %}
        <div class="container-btn">
            <div class="center-btn btn-login">
              <a href="{% url 'donation_admin' %}">
                  <button class="btn">
                    <span>Donation Portal</span>
                  </button>
              </a>
            </div>
            <div class="center-btn btn-register">
                <a href="{% url 'procurement_admin' %}">
                    <button class="btn">
                        <span>Procurement Portal</span>
                    </button>
                </a>
            </div>
            <div class="center-btn btn-register">
                <a href="{% url 'request_admin' %}">
                    <button class="btn">
                        <span>Requests Portal</span>
                    </button>
                </a>
            </div>
            <div class="center-btn btn-register">
                <a href="{% url 'inventory_admin' %}">
                    <button class="btn">
                        <span>Inventory Portal</span>
                    </button>
                </a>
            </div>
{#        <div class="center-btn btn-register">#}
{#                <a href="{% url 'reporting_admin' %}">#}
{#                    <button class="btn">#}
{#                        <span>Reporting Portal</span>#}
{#                    </button>#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
    {% else %}
        <div class="container-btn">
            <div class="center-btn btn-login">
              <a href="{% url 'login' %}">
                  <button class="btn">
                    <span>Login</span>
                  </button>
              </a>
            </div>
            <div class="center-btn btn-register">
                <a href="{% url 'register' %}">
                    <button class="btn">
                        <span>Register</span>
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    </div>
  </div>

  <div class="bg"></div>
  <div class="overlay"></div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    function logout() {

    }
  </script>
</body>
</html>
