<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .navbar {
      background-color: #f8f9fa;
    }

    .navbar-brand {
      font-size: 24px;
      font-weight: bold;
      color: #dc3545;
    }

    .navbar-nav .nav-link {
      color: #343a40;
    }

    .container {
          margin-top: 100px;
    }

    .jumbotron h1 {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .jumbotron p {
      font-size: 18px;
    }
  </style>
</head>
<body>
<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'main' %}">S.O.S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'request' %}">Request</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'donation' %}">Donation</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1>Personal Information</h1>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" placeholder="Enter your Surname">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea class="form-control" id="address" rows="3" placeholder="Enter your address"></textarea>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" class="form-control" id="phone" placeholder="Enter your phone number">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Enter your password">
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
