<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Report Page</title>

    <style>
        .cont{
            margin-top: 20px;
        }
        .rep {
            display: block;
            text-align: center;
            font-size: 50px;
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1 class="rep"> Report Page </h1>
<iframe class="cont" title="304 Project" width="1800" height="700" src="https://app.powerbi.com/reportEmbed?reportId=9d2af215-68b8-4812-9ef6-181a708f4d37&autoAuth=true&ctid=a6d8404c-cd2d-433b-8f4c-c5d18f9693ca" frameborder="0" allowFullScreen="true"></iframe>
</body>
</html>